@import "tailwindcss";



@layer base {
  .font-graphic {
    font-family: "GraphikArabic", sans-serif;
  }
}

body {
  font-family: "GraphikArabic", sans-serif;
  background-color: #f4f1ec;
  display: flex;

  flex-direction: column;
}
html{
  scroll-behavior: smooth;
}
