.embla {
  width: 100%;
  position: relative;
  --slide-size: 100%;
  --slide-spacing: 1rem;
  direction: ltr; /* إعادة تعيين الاتجاه للعناصر الداخلية */
  z-index: 60;
  padding: 10px;
}

@media (min-width: 640px) {
  .embla {
    width: 70%;
    --slide-size: 80%;
    --slide-spacing: 1rem;
    direction: ltr; /* إعادة تعيين الاتجاه للعناصر الداخلية */
  }
}

@media (min-width: 768px) {
  .embla {
    width: 100%;
    --slide-size: 40%;
    --slide-spacing: 1rem;
    direction: ltr;
  }
}

@media (min-width: 1024px) {
  .embla {
    width: 100%;
    --slide-size: 35%;
    --slide-spacing: 1rem;
    direction: ltr;
  }
}

@media (min-width: 1280px) {
  .embla {
    width: 100%;
    --slide-size: 25%;
    --slide-spacing: 1rem;
  }
}

.embla__container {
  display: flex;
  width: auto;
  direction: ltr; /* إعادة تعيين الاتجاه للعناصر الداخلية */

  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  width: 100%;
  object-fit: cover;
}

/* إضافة الـ gradients على الجانبين */
.embla::before,
.embla::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* عرض أقل للشاشات الصغيرة */
  z-index: 1;
  pointer-events: none;
}

.embla::before {
  left: -4vw;
  background: linear-gradient(90deg, #fdb800 0%, #fdb80000 100%);
}

.embla::after {
  right: -4vw;
  background: linear-gradient(270deg, #fdb800 0%, #fdb80000 100%);
}

/* للشاشات المتوسطة (md) وما فوق */
@media (min-width: 768px) {
  .embla::before,
  .embla::after {
    width: 100px; /* عرض أكبر للشاشات المتوسطة */
  }

  .embla::before {
    left: -5vw; /* تقليل المسافة السلبية */
  }

  .embla::after {
    right: -5vw; /* تقليل المسافة السلبية */
  }
}

/* للشاشات الكبيرة (lg) وما فوق */
@media (min-width: 1024px) {
  .embla::before,
  .embla::after {
    width: 150px; /* عرض أكبر للشاشات الكبيرة */
  }

  .embla::before {
    left: 0; /* إزالة المسافة السلبية */
  }

  .embla::after {
    right: 0; /* إزالة المسافة السلبية */
  }
}
.embla__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  top: 2vh;
}
.embla__buttons {
  display: flex;

  align-items: center;
  position: relative;
  justify-content: center;
  top: 8vh;
  gap: 34vw;
}
.embla__button {
  background-color: black;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 6vw;
  height: 6vw;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdb800;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 4vw;
  height: 4vw;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
